{{ define "main" }}
  <main class="prose w-full px-4  mx-auto">
    <h1 class="mt-16">My Work</h1>
    <ul>
      {{ range .Pages.ByParam "start_date" }}
        <li>
          <a href="{{ .Permalink }}"> {{ .Title }}</a> {{ .Params.start_date }}
          {{ with .Params.end_date }}- {{ . }}{{ end }}

        </li>
      {{ end }}
    </ul>

    <h2>&ldquo;Day Job&rdquo;</h2>

    <p>
      For information about my professional work, please see
      <a href="https://www.linkedin.com/in/jonasneubert/">my Linkedin Profile</a
      >.
    </p>

    <h2>Academic Publications</h2>

    <ul>
      <li>
        <u>Neubert, J.</u>, Lipson, H. (2016) &ldquo;<a
          href="https://link.springer.com/article/10.1007/s10514-015-9441-4"
          >Soldercubes: A&nbsp;Self-soldering Self-reconfiguring Modular Robot
          System</a
        >&rdquo;, <strong>Autonomous Robots</strong>, vol. 40, pp. 139-158 (<a
          href="https://fab.cba.mit.edu/classes/865.18/discrete/micro/solder_cubes.pdf"
          >pdf</a
        >,
        <a
          href="/publications/soldercubes-selfsoldering-modular-robot-system-jonas-neubert.pdf"
          >preprint pdf</a
        >)
      </li>
      <li>
        <u>Neubert, J.</u>, Rost, A., Lipson, H. (2014) &ldquo;<a
          href="https://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6888504"
          >Self-Soldering Connectors for Modular Robots</a
        >&rdquo;, <strong>IEEE Transactions on Robotics</strong>, vol. 30, pp.
        1344-1357 (<a
          href="/publications/self-soldering-connectors-for-modular-robots-jonas-neubert.pdf"
          >preprint pdf</a
        >)
      </li>
      <li>
        <u>Neubert, J.</u>, Cantwell, A., Constantin, S., Kalontarov, M.,
        Erickson, D., Lipson, H. (2010) &ldquo;<a
          href="https://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=5509455"
          >A&nbsp;Robotic Module for Stochastic Fluidic Assembly of
          3D&nbsp;Self-Reconfiguring Structures</a
        >&rdquo;,
        <strong>Proc. Int. Conf. on Robotics and Automation (ICRA'10)</strong>,
        Anchorage AK, May 2010, pp. 2479-2484, (<a
          href="https://fileadmin.cs.lth.se/ai/Proceedings/ICRA2010/MainConference/data/papers/2090.pdf"
          >pdf</a
        >)
      </li>
      <li>
        <u>Neubert, J.</u>, Stockton, J., Blechman, B., Lipson, H. (2010)
        &ldquo;<a
          href="https://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=5650424"
          >Tetrabot: Resonance Based Locomotion for Harsh Enviroments</a
        >&rdquo;,
        <strong
          >IEEE Int. Conf. on Intelligent Robots and Systems (IROS'10)</strong
        >, Taipei, Taiwan, October 2010, pp. 2431-2436
      </li>
      <li>
        Tolley M. T., Kalontarov M., <u>Neubert J.</u>, Erickson D., Lipson H.
        (2010) &ldquo;<a
          href="https://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=5462863"
          >Stochastic Modular Robotic Systems: A&nbsp;Study of Fluidic Assembly
          Strategies</a
        >&rdquo;, <strong>IEEE Transactions on Robotics</strong>, vol. 26, pp.
        518-530, (<a
          href="https://nano.mae.cornell.edu/pubs/tolley_ieeerobotics_2010.pdf"
          >pdf</a
        >)
      </li>
    </ul>

    <h2>Misc</h2>

    <p>
      This page would not be complete without a link to
      <a
        href="https://www.tctmagazine.com/prsnlz/go-compare-your-3d-printing-prices/"
        >that blog post</a
      >
      where I am described as &ldquo;insightful and knowledgeable chap&rdquo;.
      Some of my side projects have also been covered by industry specific blogs
      like
      <a
        href="https://www.fabbaloo.com/blog/2013/6/17/3d-printing-price-check-update.html"
        >Fabbaloo</a
      >,
      <a href="https://www.3dprinter.net/3d-printing-price-check"
        >3DPrinter.net</a
      >
      and
      <a
        href="https://3dprintingindustry.com/2013/03/19/geobling-now-available-in-gold/"
        >3D Printing Industry</a
      >. If you look carefully, you'll also find a mention of the &ldquo;Society
      for Printable Geography&rdquo; in
      <a
        href="https://www.wired.com/2012/09/app-brings-3-d-printing-to-iphone-cases/"
        >Wired.com</a
      >
      and
      <a
        href="https://www.forbes.com/sites/techonomy/2012/02/07/sculpteo-takes-3d-printing-to-the-cloud/"
        >Forbes.com</a
      >. If you want to see the (very publicity-shy) robots I worked with at
      Counsyl, this
      <a
        href="https://techcrunch.com/2015/06/10/counsyl-automates-genetic-testing-to-give-potential-parents-peace-of-mind/"
        >Techcrunch video</a
      >
      contains a few clips.
    </p>
  </main>
{{ end }}
