{{ define "head" }}
  <style>
    body {
      background: white url('/images/bg.jpg');
    }
  </style>
{{ end }}

{{ define "main" }}
  <main class="flex-auto px-8">
    <div id="" class="relative mx-auto md:w-80 lg:w-96 w-full h-96">
      <div
        class="absolute  bottom-72 text-white  md:left-10 h-8 w-80 overflow-hidden text-center bg-black p-1"
      >
        <p class="leading-8 text-right text-white m-0 text-2xl font-monospace">
          My name is Jonas
        </p>
      </div>
      <img
        class="absolute left-72"
        style="bottom: 278px;"
        src="images/speakingbubble.png"
        width="20"
        height="10"
      />
      <img
        class="absolute left-0 bottom-0  max-w-full"
        src="images/couch.png"
        height="264"
        width="376"
        alt=""
      />
    </div>

    <div class="w-full">
      <div class="w-full xl:w-1/2 xl:pl-20">
        <div class="max-w-none  mx-auto  prose prose-p:text-black">
          <p>Hi, I'm Jonas.</p>

          <p>
            I&nbsp;am automation engineer and software developer. Put
            differently: I&nbsp;like bits and atoms equally. I&nbsp;enjoy
            working on multi-disciplinary projects that are more complex than
            complicated.<!--, which I&nbsp;currently do at&nbsp;<a href=""></a>.-->
          </p>

          <p>
            Previously, I&nbsp;helped build some of the world's most advanced
            laboratory automation at&nbsp;<a href="http://counsyl.com"
              >Counsyl</a
            >
            and <a href="https://www.zymergen.com">Zymergen</a> and was graduate
            student in Hod&nbsp;Lipson's
            <a class="bubble" href="http://creativemachines.cornell.edu"
              >Creative Machines Lab</a
            >
            at Cornell&nbsp;University where I&nbsp;worked on
            <a href="projects/modularrobotics">modular&nbsp;robotics</a> and
            <a href="projects/selfassembly">programmable&nbsp;matter</a>.
            I&nbsp;have also been involved in
            <a href="http://www.igniteithaca.com/">Ignite&nbsp;Ithaca</a>,
            <a href="projects/kartensender">a&nbsp;postcards&nbsp;thing</a>,
            <a href="http://www.nestoria.com">a&nbsp;property search engine</a>,
            <a href="http://en.wikipedia.org/wiki/Corus"
              >a&nbsp;steel&nbsp;factory</a
            >, <a href="http://union.ic.ac.uk/arts/cinema/">a&nbsp;cinema</a>,
            and
            <a href="http://cpep.cornell.edu/"
              >a&nbsp;prison teaching&nbsp;program</a
            >.
          </p>

          <p>
            Before moving to the New World, I&nbsp;completed an M.Eng. (my
            undergrad degree) at&nbsp;<a
              href="https://en.wikipedia.org/wiki/Imperial_College_London"
              >Imperial College London</a
            >
            and was born and raised in the country famous for
            <a
              href="http://en.wikipedia.org/wiki/German_Autobahnen#Speed_limits"
              >no&nbsp;speed&nbsp;limits</a
            >
            and
            <a href="http://en.wikipedia.org/wiki/German_humor">no&nbsp;humor</a
            >.
          </p>

          <p style="font-size:smaller">
            <span class="highlighter">Elsewhere online:</span><br />
            <a href="https://twitter.com/jonemo">Twitter</a>,
            <a href="https://www.linkedin.com/in/jonasneubert">LinkedIn</a>,
            <a href="https://github.com/jonemo/">Github</a>,
            <a href="https://scholar.google.com/citations?user=4NpKk9MAAAAJ"
              >Google Scholar</a
            >,
            <a href="https://500px.com/jncj">500px</a>
          </p>
        </div>
      </div>
    </div>
  </main>
{{ end }}
