{{ define "main" }}
  <!-- header Image ( Me as a Speaker at a Conference)  -->
  <div
    class="relative w-full overflow-hidden p-0  max-w-5xl lg:mx-auto lg:my-2 lg:rounded-md"
  >
    <div
      class="bg-gradient-to-b from-transparent to-black opacity-90  w-full h-auto absolute inset-0"
    >
      <!-- overlay -->
    </div>

    <img
      src="/images/jonas-pycon.png"
      class="mx-auto lg:rounded-md h-full"
      alt=""
    />
    <h1
      class="bottom-5 ml-4 lg:ml-10 text-2xl md:text-5xl font-semibold text-white absolute"
    >
      Talks And Conferences
    </h1>
  </div>

  <article class="prose w-full md:w-10/12 px-4 py-10  mx-auto ">
    <h2>Upcoming Talks</h2>

    <p>None scheduled!</p>

    <p>
      Let me know if there is an automation topic you think I should talk about
      next: jn@jonasneubert.com
    </p>

    <h2>Conference Talks</h2>

    <ul>
      {{ range .Pages }}
        {{ $page := . }}

        {{ range .Params.locations }}
          <li>
            <a href="{{ $page.Permalink }}"> {{ $page.Title }} </a>
            {{ . }}
            <!--location-->
          </li>
        {{ end }}
      {{ end }}
    </ul>

    <h2>Academic Talks</h2>

    <ul>
      <li>
        <a
          href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=5650424"
          >Tetrabot: Resonance Based Locomotion for Harsh Enviroments</a
        >
        (sic) at IEEE Int. Conf. on Intelligent Robots and Systems (IROS'10)
      </li>
      <li>
        <a
          href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=5509455"
          >A&nbsp;Robotic Module for Stochastic Fluidic Assembly of
          3D&nbsp;Self-Reconfiguring Structures</a
        >
        at IEEE Int. Conf. on Robotics and Automation (ICRA'10)
      </li>
    </ul>
  </article>
{{ end }}
